.team-carousel {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: calc(110vh);
  width: 100%;
  text-align: center;
  background-color:#fff;
  flex-direction: column;
  }
   .text{
    position: relative;
    justify-content: center;
    align-items: center;
  
  }
  
  .team-carousel h2 {
    font-size: 40px;
 
    color: #1E1E1E !important;
    font-size: 40px;
    font-weight: bold;
    font-family: 'roboto';
  }
  
  .swiper {
    width: 100%;
    height: 70vh;
    top: -20px;
  }
  
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swiper-slide {
    filter: blur(4px);
  }
  .swiper-slide-active{
    filter: blur(0px);
  }
  .team-card {
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 220px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align:center;
    transition: transform 0.3s ease, filter 0.3s ease;
    opacity: 0.7;
    transform: scale(0.8); 
  }

  .team-card .back{
    position:relative;
    width:100%;
    height: 80vh;
    border-radius: 4px;
    background-color: #112A4A ;
    clip-path: circle(85% at 50% 5%);
  }


  .back h3{
   
    font-weight: bold;
    font-size: 40px  ;
    color: #ffffff !important;
    font-family: "Lexend", serif;
    margin-top: 30px;
  }
  
  
  .swiper-slide-active .team-card {
    transform: scale(1.1);
    opacity: 1; 
  }


   .logo-container {
       position: relative;
       display: flex;
       align-items: center;
       justify-content: center;
       margin-bottom: 5px;
       margin-top: 15px;
     }
    
     .logo-text {
       color: #ffffff;
       font-size: 16px;
       font-weight: bold;
       margin-right: 10px;
     }
     .logo-container .logo {
         width: 70px;
         height: 25px;
         border-radius: 50%;
         margin-top: 10px;

       }
  
  .image-container {
    position: relative;
    overflow: hidden;
    width: 220px;
    height: 220px;
    margin: 0 auto 10px;
    margin-top: 5%;
    transition: .3s;
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color:#112A4A ;
    outline: none;
    border: none; 
    transition: filter 0.3s ease, transform 0.3s ease;
    transition: .3s;
  }
  
  .swiper-slide-active .image-container img {
    filter: blur(0); 
    transform: scale(1.1); 

  }

  .team-card h3 {
    margin: 10px 0 5px;
    font-weight: bold;
    font-size: 20px;
    color:#1E1E1E;
    margin-top: -20px;
    font-family:'roboto';
  }
  
  .team-card h4 {
    font-size: 12px;
    font-weight:bold;
    color: #5D6481;
    font-family: "Lexend", serif;
    margin-top: -8px;
  }
  .team-card p{
    font-size: 10px;
    font-weight:lighter;
    color: #868DA6;
    font-family: "Lexend", serif;
  }

  @media (max-width: 1024px){
    .team-card h3{
      font-size: 16px;
    margin-top: -40px;
    }
  }
  
@media (max-width: 768px) {
  .team-card {
    width: 200px; 
    padding: 15px;
    height: 50vh;
  }
  .team-card .back{
    width: 100%;
  }

  .image-container {
    width: 150px;
    height: 200px;

  }

  .team-card h3 {
    font-size: 16px;
  }

  .team-card p {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .team-card {
    width: 150px; 
    padding: 10px;
    height: 40vh;
  } 
  .team-card .back {
    width: 100%;
  }

  .image-container {
    width: 100px;
    height: 80px;
  }

  .team-card h3 {
    font-size: 14px;
  }

  .team-card .back{
    position:relative;
    width:100%;
    height: 40vh !important;
    border-radius: 4px;
    background-color: #112A4A ;
    clip-path: circle(85% at 50% 5%);
  }
  .team-card p,h4 {
    font-size: 10px;
  }
}