.terms-main{
  border: 10px solid #162F4B;
    height: 100%;
  
  }
  .paga{
      background-color: white;
      height: 100%;
      padding-left:20px;
      padding-right: 20px;
      text-align: justify;
  }
  .paga h2{
    color:#162F4B;
    font-family: 'Robot';
  }
  .page p{
    font-family: 'Robot';
  }
  .page h1{
    font-family: 'Robot';
    color:#162F4B;
  }
  .paga h6{
    font-family: 'Robot';
    color:#042448;
  }